.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}


a {
  color: currentColor;
}

.btn {
  border: 0px;
  border-radius: 10px;
  padding: 3px 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  padding: 3px 15px;
  background-color: #601313;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.card-list {
  display: flex;
  justify-content: center;
  align-content: center;
}
.info {
text-align: center;
}
.info-item {
  color: red;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

button {
  cursor: pointer;
}

img {
  display: flex;
  height: auto;
  padding: 10px 10px; 

}

body {
  font-family: "CeraPro", sans-serif;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: contain;
}

.list {  
  list-style: none;
}

.item-card {  
  background-color: #601313;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
// .info {
//   padding: 10px 10px;
  
// }

.ul-info {

  display: flex;
  text-align: center;
  gap: 10px;
padding: 10px;
justify-content: center;

}
.img-card {
  width: 350px;
  height: 200px;
  background-size: cover;
justify-content: center;
  border-radius: 35px 35px 35px 35px;
}

.gallery {  
top: 100px;
justify-content: center;
}

.search-form {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: #601313;
  padding-top: 25px;
  text-align: center;
  height: 70px;
  
}

.div-more {
  width: 100%;
  background-color: #601313;
  padding-top: 25px;
  text-align: center;
  height: 70px;
}